.env
Dockerfile
.dockerignore
.gitignore
.node_modules
npm-debug.log
README.md
.next
.git
.husky
.github
.vscode
.commitlintrc.json
CHANGELOG.md
/meilisearch
/i18n-codemod
/*.py
/scripts/search-indexer/node_modules